@inherits Flowbite.Base.FlowbiteComponentBase

<CascadingValue Value="From">
    <div class="@GetContainerClasses()" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>
