@inherits Flowbite.Base.FlowbiteComponentBase

<CascadingValue Value="_context" IsFixed="false">
    <section class="@CombineClasses(BaseClasses)" @ref="_conversationElement" @attributes="AdditionalAttributes">
        @ChildContent
    </section>
</CascadingValue>
