@inherits Flowbite.Base.FlowbiteComponentBase

<div class="@CombineClasses(BaseClasses)" role="status" @attributes="AdditionalAttributes">
    <svg class="animate-spin" width="@Size" height="@Size" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 0V3" stroke="currentColor" stroke-width="1.5"/>
        <path d="M8 16V13" stroke="currentColor" stroke-opacity="0.5" stroke-width="1.5"/>
        <path d="M3.3 1.53L5.65 4.76" stroke="currentColor" stroke-opacity="0.9" stroke-width="1.5"/>
        <path d="M12.7 1.53L10.35 4.76" stroke="currentColor" stroke-opacity="0.1" stroke-width="1.5"/>
        <path d="M12.7 14.47L10.35 11.24" stroke="currentColor" stroke-opacity="0.4" stroke-width="1.5"/>
        <path d="M3.3 14.47L5.65 11.24" stroke="currentColor" stroke-opacity="0.6" stroke-width="1.5"/>
        <path d="M15.6 5.53L11.8 6.76" stroke="currentColor" stroke-opacity="0.2" stroke-width="1.5"/>
        <path d="M0.39 10.47L4.2 9.24" stroke="currentColor" stroke-opacity="0.7" stroke-width="1.5"/>
        <path d="M15.6 10.47L11.8 9.24" stroke="currentColor" stroke-opacity="0.3" stroke-width="1.5"/>
        <path d="M0.39 5.53L4.2 6.76" stroke="currentColor" stroke-opacity="0.8" stroke-width="1.5"/>
    </svg>
</div>
