@inherits Flowbite.Base.FlowbiteComponentBase

<button type="submit"
        class="@CombineClasses(GetButtonClasses())"
        disabled="@Disabled"
        style="@Style"
        @attributes="AdditionalAttributes">
    @switch (Status)
    {
        case PromptSubmissionStatus.Submitting:
        case PromptSubmissionStatus.Streaming:
            <span class="inline-flex items-center justify-center" aria-hidden="true">
                <Loader Size="16" class="text-white" />
            </span>
            break;
        case PromptSubmissionStatus.Error:
            <span class="inline-flex items-center justify-center" aria-hidden="true">
                <ExclamationTriangleIcon class="h-5 w-5" />
            </span>
            break;
        default:
            if (ChildContent is not null)
            {
                @ChildContent
            }
            else
            {
                <span class="inline-flex items-center justify-center" aria-hidden="true">
                    <ArrowUpIcon class="h-5 w-5" />
                </span>
            }
            break;
    }
    @if (!string.IsNullOrEmpty(GetLabel()))
    {
        <span>@GetLabel()</span>
    }
</button>
