@inherits Flowbite.Base.FlowbiteComponentBase

<CascadingValue Value="_context" IsFixed="false">
    <div @ref="_elementRef" class="@CombineClasses(BaseClasses)" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>
