@inherits Flowbite.Base.FlowbiteComponentBase

@if (_hasAttachments && ChildContent is not null)
{
    <div class="@CombineClasses(BaseClasses)" @attributes="AdditionalAttributes">
        @foreach (var attachment in _attachments)
        {
            <span @key="attachment.Id" class="contents">
                @ChildContent(attachment)
            </span>
        }
    </div>
}
