@inherits Flowbite.Base.FlowbiteComponentBase

<CascadingValue Value="_context" IsFixed="false">
    <div class="@CombineClasses(ContainerClasses, _isDragActive ? DragActiveClasses : null)"
         @ref="_container"
         @attributes="AdditionalAttributes">
        <form class="flex flex-col gap-2" @onsubmit="HandleSubmitAsync" @onsubmit:preventDefault>
            @ChildContent
        </form>
        <InputFile @ref="_fileInput"
                   OnChange="HandleFileChangedAsync"
                   class="hidden"
                   multiple="@AllowMultipleFiles" />
    </div>
</CascadingValue>
