@inherits Flowbite.Base.FlowbiteComponentBase

<button type="button"
        class="@CombineClasses(BaseClasses)"
        role="menuitem"
        tabindex="-1"
        @onclick="HandleClickAsync">
    <PaperClipIcon class="h-4 w-4" aria-hidden="true" />
    <span>Attach files</span>
</button>
