@inherits Flowbite.Base.FlowbiteComponentBase

<span class="@CombineClasses(BaseClasses)" style="@Style" @attributes="AdditionalAttributes">
    <span class="hidden lg:flex">@DisplayText</span>
     @if (Icon is not null)
    {
        <span class="lg:hidden inline-flex mt-2 h-4 w-4 items-center justify-center" aria-hidden="true">
            <DynamicComponent Type="Icon" />
        </span>
    }
</span>
