@inherits Flowbite.Base.FlowbiteComponentBase

@if (MenuContext.IsOpen)
{
    <div class="@CombineClasses(BaseClasses)" role="menu" style="@Style" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
}
