@inherits Flowbite.Base.FlowbiteComponentBase

@if (Context.IsOpen)
{
    <div class="@CombineClasses(BaseClasses)" @attributes="AdditionalAttributes">
        @if (!string.IsNullOrEmpty(Text))
        {
            @foreach (var line in Text.Split('\n'))
            {
                <p class="text-sm text-gray-400 dark:text-gray-400 pb-3">@line</p>
            }
        }
        else
        {
            @ChildContent
        }
    </div>
}
