@inherits Flowbite.Base.FlowbiteComponentBase

@if (Context.IsOpen)
{
    <div class="@CombineClasses(BaseClasses)" @attributes="AdditionalAttributes">
        @if (!string.IsNullOrEmpty(Text))
        {
            <p class="text-sm text-gray-400 dark:text-gray-400">@Text</p>
        }
        else
        {
            @ChildContent
        }
    </div>
}
