@using Flowbite.Components.Markdown
@inherits Flowbite.Base.FlowbiteComponentBase

@if (Context.IsOpen)
{
    <div class="@CombineClasses(BaseClasses)" style="@Style" @attributes="AdditionalAttributes">
        @if (!string.IsNullOrEmpty(Text))
        {
            <MarkdownContent Markdown="@Text" Variant="MarkdownVariant.Muted" Class="text-sm" />
        }
        else
        {
            @ChildContent
        }
    </div>
}
