@inherits Flowbite.Base.FlowbiteComponentBase

@if (SourcesContext.IsOpen)
{
    <div id="@SourcesContext.ContentId"
         class="@CombineClasses(BaseClasses)"
         style="@Style"
         @attributes="AdditionalAttributes">
        @ChildContent
    </div>
}
