@namespace Flowbite.Components
@inherits FlowbiteComponentBase

<div class="@ContainerClasses">
    <time class="@TimeClasses">@Date</time>
    <ol class="@ListClasses" @attributes="AdditionalAttributes">
        @ChildContent
    </ol>
</div>
