@namespace Flowbite.Layout
@using Flowbite.Components

<div class="@PositionClasses">
    @foreach (var toast in _activeToasts)
    {
        <Toast @key="toast.Id" ToastMessage="@toast" OnClose="@(() => HandleToastClose(toast.Id))" />
    }
</div>
