@using Flowbite.Components.Table

<div class="overflow-x-auto">
    <Table>
        <TableHead>
            <TableRow>
                <TableHeadCell>Product name</TableHeadCell>
                <TableHeadCell>Color</TableHeadCell>
                <TableHeadCell>Category</TableHeadCell>
                <TableHeadCell>Price</TableHeadCell>
                <TableHeadCell>
                    <span class="sr-only">Edit</span>
                </TableHeadCell>
            </TableRow>
        </TableHead>
        <TableBody class="divide-y">
            <TableRow class="bg-white dark:border-gray-700 dark:bg-gray-800">
                <TableCell class="whitespace-nowrap font-medium text-gray-900 dark:text-white">Apple MacBook Pro 17"</TableCell>
                <TableCell>Sliver</TableCell>
                <TableCell>Laptop</TableCell>
                <TableCell>$2999</TableCell>
                <TableCell>
                    <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Edit</a>
                </TableCell>
            </TableRow>
            <TableRow class="bg-white dark:border-gray-700 dark:bg-gray-800">
                <TableCell class="whitespace-nowrap font-medium text-gray-900 dark:text-white">Microsoft Surface Pro</TableCell>
                <TableCell>White</TableCell>
                <TableCell>Laptop PC</TableCell>
                <TableCell>$1999</TableCell>
                <TableCell>
                    <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Edit</a>
                </TableCell>
            </TableRow>
            <TableRow class="bg-white dark:border-gray-700 dark:bg-gray-800">
                <TableCell class="whitespace-nowrap font-medium text-gray-900 dark:text-white">Magic Mouse 2</TableCell>
                <TableCell>Black</TableCell>
                <TableCell>Accessories</TableCell>
                <TableCell>$99</TableCell>
                <TableCell>
                    <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Edit</a>
                </TableCell>
            </TableRow>
        </TableBody>
    </Table>
</div>
