@using Flowbite.Components.Table

<Table Hoverable="true">
    <TableHead>
        <TableRow>
            <TableHeadCell>Product</TableHeadCell>
            <TableHeadCell>Category</TableHeadCell>
            <TableHeadCell Align="right">Price</TableHeadCell>
        </TableRow>
    </TableHead>
    <TableBody>
        <TableRow>
            <TableCell>Apple MacBook Pro 17"</TableCell>
            <TableCell>Laptop</TableCell>
            <TableCell Align="right">$2999</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Microsoft Surface Pro</TableCell>
            <TableCell>Tablet</TableCell>
            <TableCell Align="right">$999</TableCell>
        </TableRow>
    </TableBody>
</Table>
