@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prism Syntax Highlighting -----------------------------------------------------------------------------------------------------------*/


/* css variables example -----------------------------------------------------------------------------------------------------------*/

:root {
    --quickgrid-sort-indicator-img-light: url('data:image/svg+xml;utf8,<svg  fill="rgb(17 24 39)" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>');
    --quickgrid-sort-indicator-img-dark: url('data:image/svg+xml;utf8,<svg  fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>');
}


.leading-4\.5 {
    line-height: 1.15rem;
}

pre {
    @apply text-gray-100 dark:text-gray-100 rounded-lg text-xs bg-gray-800 dark:bg-gray-800/50 px-2 pb-1 overflow-x-auto leading-4.5;
}

.token.tag,
.token.function,
.token.property {
    @apply text-pink-400;
}

.token.attr-name {
    @apply text-sky-300;
}

.token.attr-value,
.token.string {
    @apply text-green-400;
}

.token.punctuation,
.token.attr-equals {
    @apply text-gray-400;
}

.token.comment {
    @apply text-gray-500;
}

.token.operator {
    @apply text-yellow-400;
}

.token.keyword {
    @apply text-purple-400;
}

.token.block {
    display: initial;
}

.line-highlight {
    @apply absolute inset-x-0 mt-[1.25rem] border-l-4 border-blue-400 bg-blue-400/15 pointer-events-none;
}

pre[data-line] {
    @apply relative;
}

pre[class^='language-diff-'] {
    @apply flex px-9;
}

pre[class^='language-diff-'] > code {
    @apply flex-none min-w-full;
}


/* Styling for the Quick Grid  BEGIN --------------------------------------------------------------------------------------------------*/

.flowbite-grid {
    @apply max-h-table-xl overflow-y-auto bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-400;
}

.quickgrid[theme=flowbite] {
    @apply text-left leading-tight text-gray-900 dark:text-gray-400 align-top;    
}

.quickgrid[theme=flowbite] tr:hover {
    @apply bg-gray-100 dark:bg-gray-700;
}



.quickgrid[theme=flowbite] .col-title {
    font-weight: 500;
    letter-spacing: 0.05em;
}

.quickgrid[theme=flowbite] > thead {
    @apply sticky top-0 bg-gray-50 text-gray-500 leading-9 text-sm tracking-wider border border-gray-200 dark:border-gray-700 dark:bg-gray-700 dark:text-white;
}

.quickgrid[theme=flowbite] > thead > tr > th {
    @apply align-top px-3;
}

.quickgrid[theme=flowbite] > tbody > tr > td {
    @apply align-top p-3;
}

.quickgrid[theme=flowbite] tr {
    @apply border border-gray-200 dark:border-gray-700;
}


.quickgrid[theme=flowbite] .sort-indicator {    
    @apply ml-1;
    background-image: var(--quickgrid-sort-indicator-img-light);
}

.dark .quickgrid[theme=flowbite] .sort-indicator {
    @apply ml-1;
    background-image: var(--quickgrid-sort-indicator-img-dark);
}


.quickgrid[theme=flowbite] .col-options {
    @apply dark:bg-gray-700 dark:text-white text-xs p-0;
}

.quickgrid[theme=flowbite] .col-options  input ,select, textarea {
    @apply text-xs;
}

.quickgrid[theme=flowbite] input {
    @apply dark:bg-gray-700;
}

.quickgrid[theme=flowbite] .col-options-button {
    @apply mr-1;
    background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="rgb(17 24 39)" stroke-linecap="round" stroke-width="2" d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z"/></svg>');
}

.dark .quickgrid[theme=flowbite] .col-options-button {
    @apply mr-1;
    background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="white" stroke-linecap="round" stroke-width="2" d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z"/></svg>');
}




/* Styling for the Quick Grid  END --------------------------------------------------------------------------------------------------*/
