@using Flowbite.Base
@inherits FlowbiteComponentBase
@inject FlowbiteVersionService FlowbiteVersionService
@using System.Reflection;

<div class="flex items-center space-x-4 text-sm ">
    <div class="flex items-center space-x-2">
        <span class="font-medium">Flowbite:</span>
        <p class="font-thin">@FlowbiteVersion</p>
    </div>
    <div class="flex items-center space-x-2">
        <span class="font-medium">DemoApp:</span>
        <p class="font-thin">@AppInformationalVersion</p>
    </div>
</div>

@code
{
    private string FlowbiteVersion
    {
        get
        {
            var flowbiteVersion = FlowbiteVersionService.InformationalVersion;
            if (flowbiteVersion.Contains("+"))
            {
                flowbiteVersion = flowbiteVersion.Substring(0, flowbiteVersion.IndexOf("+"));
            }
            return flowbiteVersion;
        }
    }

    private string AppInformationalVersion
    {
        get
        {
            var appVersion = Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion ?? "Unknown";
            
            // if the version contains the '+' then the assembly version, then only
            // display the content prior to the character.
            var plusCharIndex = appVersion.IndexOf('+');
            if (plusCharIndex > -1)
            {
                appVersion = appVersion.Substring(0, plusCharIndex);
            }

            return appVersion;
        }
    }
}