@using Flowbite.Base
@inherits FlowbiteComponentBase
@inject FlowbiteVersionService FlowbiteVersionService

<p>@Version</p>

@code
{
    private string Version
    {
        get
        {
            var flowbiteVersion = FlowbiteVersionService.InformationalVersion;
            if (flowbiteVersion.Contains("+"))
            {
                flowbiteVersion = flowbiteVersion.Substring(0, flowbiteVersion.IndexOf("+"));
            }
            return flowbiteVersion;
        }
    }
}