@inherits FlowbiteComponentBase

<CascadingValue Value="@_carouselState">
    <div class="@GetCarouselClasses()" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>
