@inherits FlowbiteComponentBase

<CascadingValue Value="this" IsFixed="true">
    <CascadingValue Value="@_carouselState">
        <div class="@GetCarouselClasses()"
             @onmouseenter="PauseAutoAdvance"
             @onmouseleave="ResumeAutoAdvance"
             style="@Style"
             @attributes="AdditionalAttributes">
            @ChildContent
        </div>
    </CascadingValue>
</CascadingValue>
