@inherits Flowbite.Base.FlowbiteComponentBase
@using Flowbite.Services


<button @onclick="CopyToClipboard" class="@CombineClasses(Class, "p-2 flex items-center space-x-2 text-gray-200 hover:text-gray-100 dark:text-gray-400 dark:hover:text-white")">
    <ClipboardArrowIcon class="mt-1 w-5 h-5" />
    @if (ShowTitle)
    {
        <span>@_copyButtonTitle</span>
    }
</button>


@code
{
    [Parameter]
    public bool ShowTitle { get; set; } = false;

    [Parameter]
    public string? TextToCopy { get; set; }

    [Inject]
    private IClipboardService? ClipboardService { get; set; }

    public async Task CopyToClipboard()
    {
        if (ClipboardService is null)
        {
            Console.WriteLine("[Flowbite.Components.CopyToClipboardButton] ClipboardService is null");
            return;
        }

        if (string.IsNullOrEmpty(TextToCopy))
        {
            Console.WriteLine("[Flowbite.Components.CopyToClipboardButton] TextToCopy is null or empty");
            return;
        }

        try
        {
            var success = await ClipboardService.CopyToClipboardAsync(TextToCopy);
            if (success)
            {
                _copyButtonTitle = "Copied!";
                StateHasChanged();

                // Reset button text after 2 seconds
                await Task.Delay(2000);
                _copyButtonTitle = "Copy";
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            // Log the exception for debugging
            Console.WriteLine($"Error copying to clipboard: {ex.Message}");
        }
    }

    private string _copyButtonTitle = "Copy";
}

