
@inherits FlowbiteComponentBase

<button type="button"
        class="@GetItemClasses()"
        role="menuitem"
        tabindex="0"
        @onclick="HandleClick"
        @onclick:stopPropagation="true"
        @attributes="AdditionalAttributes"
        disabled="@Disabled">
    @if (Icon != null)
    {
        <DynamicComponent Type="@Icon.GetType()" Parameters="@(new Dictionary<string, object> { { "CssClass", GetIconClasses() } })" />
    }
    @ChildContent
</button>
