
@inherits FlowbiteComponentBase

<nav class="@NavbarClasses">
    <div class="@ContainerClasses">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </div>
</nav>
