@using Flowbite.Base
@inherits FlowbiteComponentBase

<button type="button" 
        class="@CombineClasses("inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600")"
        aria-controls="navbar-collapse" 
        aria-expanded="@MenuOpen"
        @onclick="HandleClick">
    <span class="sr-only">Toggle navigation</span>
    <BarsIcon class="w-6 h-6" />
</button>

@code {
    [CascadingParameter]
    private Navbar? ParentNavbar { get; set; }

    private bool MenuOpen => ParentNavbar?.MenuOpen ?? false;

    private async Task HandleClick()
    {
        if (ParentNavbar is not null)
        {
            await ParentNavbar.MenuOpenChanged.InvokeAsync(!MenuOpen);
        }
    }
}
