@inherits Flowbite.Base.FlowbiteComponentBase

<div class="@GetToolbarClasses()" style="@Style" @attributes="AdditionalAttributes">
    <div class="@GetContentClasses()">
        @ChildContent
    </div>
    @if (End != null)
    {
        @End
    }
</div>
