@inherits Flowbite.Base.FlowbiteComponentBase

<button type="button"
        class="@GetButtonClasses()"
        @onclick="HandleClick"
        aria-label="@AriaLabel"
        style="@Style"
        @attributes="AdditionalAttributes">
    @ChildContent
</button>
