@using Microsoft.AspNetCore.Components.Routing

<nav class="py-5 pb-12 mb-8">
    <ul class="xl:w-40">
        <li class="">
            <h5 class="mb-2 text-sm font-bold uppercase tracking-wide text-gray-900 dark:text-white">
                component demos</h5>
            <ul class="py-1">
                <li><NavLink class="side-bar-item" ActiveClass="bg-primary-50 dark:bg-primary-900" Match="NavLinkMatch.All" href="/docs/components/alert">Alert</NavLink></li>
                <li><NavLink class="side-bar-item" ActiveClass="bg-primary-50 dark:bg-primary-900" Match="NavLinkMatch.All" href="/docs/components/avatar">Avatar</NavLink></li>
                <li><NavLink class="side-bar-item" ActiveClass="bg-primary-50 dark:bg-primary-900" Match="NavLinkMatch.All" href="/docs/components/badge">Badge</NavLink></li>
                <li><NavLink class="side-bar-item" ActiveClass="bg-primary-50 dark:bg-primary-900" Match="NavLinkMatch.All" href="/docs/components/breadcrumb">Breadcrumb</NavLink></li>
                <li><NavLink class="side-bar-item" ActiveClass="bg-primary-50 dark:bg-primary-900" Match="NavLinkMatch.All" href="/docs/components/button">Button</NavLink></li>
                <li><NavLink class="side-bar-item" ActiveClass="bg-primary-50 dark:bg-primary-900" Match="NavLinkMatch.All" href="/docs/components/card">Card</NavLink></li>
                <li><NavLink class="side-bar-item" ActiveClass="bg-primary-50 dark:bg-primary-900" Match="NavLinkMatch.All" href="/docs/components/dropdown">Dropdown</NavLink></li>
                <li><NavLink class="side-bar-item" ActiveClass="bg-primary-50 dark:bg-primary-900" Match="NavLinkMatch.All" href="/docs/components/navbar">Navbar</NavLink></li>
                <li><NavLink class="side-bar-item" ActiveClass="bg-primary-50 dark:bg-primary-900" Match="NavLinkMatch.All" href="/docs/components/spinner">Spinner</NavLink></li>
                <li><NavLink class="side-bar-item" ActiveClass="bg-primary-50 dark:bg-primary-900" Match="NavLinkMatch.All" href="/docs/components/sidebar">Sidebar</NavLink></li>
                <li><NavLink class="side-bar-item" ActiveClass="bg-primary-50 dark:bg-primary-900" Match="NavLinkMatch.All" href="/docs/components/tabs">Tabs</NavLink></li>
                <li><NavLink class="side-bar-item" ActiveClass="bg-primary-50 dark:bg-primary-900" Match="NavLinkMatch.All" href="/docs/components/tooltip">Tooltip</NavLink></li>
            </ul>
        </li>
    </ul>
</nav>
