<div class="flex items-center">

    @* Text Links *@
    <div class="hidden md:flex items-center gap-1">
        <a href="/docs/getting-started/introduction"
            class="rounded-lg p-2.5 text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-gray-300 dark:hover:text-primary-500">
            Docs
        </a>
        <a href="/docs/getting-started/quickstart"
            class="rounded-lg p-2.5 text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-gray-300 dark:hover:text-primary-500">
            Quickstart
        </a>
        <a href="/icons"
            class="rounded-lg p-2.5 text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-gray-300 dark:hover:text-primary-500">
            Icons
        </a>
        <a rel="noopener" target="_blank" href="https://flowbite.com/figma/"
            class="rounded-lg p-2.5 text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-gray-300 dark:hover:text-primary-500">
            Figma
        </a>
        <a rel="noopener" target="_blank" href="https://flowbite-react.com"
            class="rounded-lg p-2.5 text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-gray-300 dark:hover:text-primary-500">
            Flowbite React
        </a>
    </div>

    @* Icons Links *@
    <div class="flex items-center gap-1">
        
        @* Discord Link *@
        <Tooltip Content="Join Discord Community" Placement="TooltipPlacement.Bottom">
            <div class="w-fit">
                <a rel="nofollow noopener noreferrer" target="_blank"
                   href="https://discord.gg/4eeurUVvTy" aria-label="Join Discord Community"
                   class="hidden rounded-lg p-2.5 text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 lg:block dark:text-gray-300 dark:hover:bg-gray-700 dark:focus:ring-gray-700">
                    <DiscordIcon/>
                </a>
            </div>
        </Tooltip>

        @* Github Link *@
        <Tooltip Content="View on GitHub" Placement="TooltipPlacement.Bottom">
            <div class="w-fit">
                <a rel="noopener" target="_blank" href="https://github.com/peakflames/flowbite-blazor"
                   aria-label="View on GitHub"
                   class="hidden rounded-lg p-2.5 text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 lg:block dark:text-gray-300 dark:hover:bg-gray-700 dark:focus:ring-gray-700">
                    <GithubIcon />
                </a>
            </div>
        </Tooltip>

        <DarkMode class="mr-1" />
        
    </div>

</div>
