

<div class="hidden md:flex items-center gap-1">
    <a href="/docs/getting-started/introduction" class="rounded-lg p-2.5 text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-gray-300 dark:hover:text-primary-500">
       Docs
    </a>
    <a href="/docs/getting-started/quickstart" class="rounded-lg p-2.5 text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-gray-300 dark:hover:text-primary-500">
        Quickstart
    </a>
    <a href="/icons" class="rounded-lg p-2.5 text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-gray-300 dark:hover:text-primary-500">
       Icons
    </a>
    <a rel="noopener" target="_blank" href="https://flowbite.com/figma/" class="rounded-lg p-2.5 text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-gray-300 dark:hover:text-primary-500">
        Figma
    </a>
    <a rel="noopener" target="_blank" href="https://flowbite-react.com" class="rounded-lg p-2.5 text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-gray-300 dark:hover:text-primary-500">
        Flowbite React
    </a>
</div>

<div className="flex items-center gap-1">
  <DarkMode class="mr-1"/>
</div>

